.header-wrapper{
    font-family: 'whatever';
    width:45vw;
    height:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: #c2dbfd;
    font-size: 20px;
    z-index: 2;
    text-shadow:
    0 0 7px #c2dbfd,
    0 0 10px #c2dbfd,
    0 0 21px #c2dbfd,
    0 0 42px #c2dbfd,
    0 0 82px #c2dbfd,
    0 0 92px #c2dbfd,
    0 0 102px #c2dbfd,
    0 0 151px #c2dbfd;
}

.mobile-header-wrapper{
    display:none;
}

@media only screen and (max-width: 1000px){
    .header-wrapper{
        display: none;
    }
    .mobile-header-wrapper{
        display: flex;
        width:100vw;
        height:90px;
        font-family: 'whatever';
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

