@font-face {
  font-family: 'whatever';
  src: url('./detective_manero_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'whatever-bold';
  src: url('./detective_manero.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit !important;
}

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--c-theme);
  color: var(--c-text-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}